:root{
	/*-------- white theme --------*/
	--header: #24292f;
	--border: #d0d7de;
	--subtitle: #f6f8fa;
	--background: #fff;
	--text-color: #000;
	/*-------- black theme --------*/
	/*--header: #161b22;
	--border: #30363d;
	--subtitle: #161b22;
	--background: #0d1117;
	--text-color: #c9d1d9;*/
}

::-webkit-scrollbar {
	width: 8px;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--header);
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: #000;
}

html, body{
	width: 100%;
	height: 100%;
	color: black;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

header{
	width: 100%;
	padding: 10px 0;
	background-color: var(--header);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}

header button{
	color: white;
}


main{
	height: calc(100% - 7vh);
	font-family: 'Nunito', sans-serif;
	overflow-y: scroll;
	display: grid;
	grid-template: repeat(2, max-content) / repeat(3, 1fr);
	grid-gap: 20px;
	padding: 20px;
	background-color: var(--background);
	color: var(--text-color);
}

button {
	cursor: pointer;
	user-select: none;
	border: none;
	font-weight: bold;
	background: none;
}

select{
	border: none;
}

a{
	text-decoration: none;
	color: black;
}

/*----------------------------- header -----------------------------*/

.header__left-part{
	font-family: 'Nunito', sans-serif;
}

.header__left-part span, select{
	margin-left: 10px;
	font-size: 1.3rem;
}

.header__left-part select{
	background-color: var(--header);
	color: white;
	height: 3.5vh;
	border-radius: 3px;
}

.header__right-part button{
	font-size: 1.6rem;
	margin-right: 10px;
}

/*----------------------------- main -----------------------------*/

.main__item{
	border: 1px solid var(--border);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}

.main__day-name{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--subtitle);
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid var(--border);
}

.main__item h2{
	padding: 1vh 0;
}

/*----------------------------- lessons -----------------------------*/

.main__lesson{
	display: flex;
	
	align-items: center;
	padding: 10px;
}

.main__lesson i, span:nth-child(2){
	margin: 0 10px 0 0;
}

.main__lesson a{
	margin: 0 0 0 10px;
	font-size: 1.1rem;
	color: var(--text-color);
}

.main__lesson a:hover{
	transform: scale(1.1);
}

.main__lesson a:active{
	transform: scale(0.9);
}

.main__lesson span:nth-child(3){
	margin: 0 auto;
}

/*----------------------------- adaptation -----------------------------*/

@media (max-width: 1024px){
	main{
		grid-template: repeat(3, max-content) / repeat(2, 1fr);
	}
}

@media (max-width: 666px){
	main{
		grid-template: repeat(5, max-content) / repeat(1, 1fr);
	}
}

@media (max-width: 440px){
	.header__left-part span, select{
		font-size: 4.5vw;
	}
	.header__right-part button{
		font-size: 5.5vw;
	}
}