:root{
	--white-theme-gray: #24292f;
	--white-theme-border: #d0d7de;
	--white-theme-subtitle: #f6f8fa;
}

::-webkit-scrollbar {
	width: 8px;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: var(--white-theme-gray);
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: #00000000;
}

html, body{
	width: 100%;
	height: 100%;
	color: black;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

header{
	width: 100%;
	height: 7vh;
	background-color: var(--white-theme-gray);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
}

button {
	cursor: pointer;
	user-select: none;
	border: none;
	font-weight: bold;
	background: none;
	color: white;
}

select{
	border: none;
}

/*----------------------------- header -----------------------------*/

.header__left-part{
	font-family: 'Nunito', sans-serif;
}

.header__left-part span{
	margin-left: 1.5vh;
	font-size: 2vh;
}

.header__left-part select{
	background-color: var(--white-theme-gray);
	color: white;
	margin-left: 1vh;
	height: 3.5vh;
	border-radius: 3px;
	font-size: 2vh;
}

.header__right-part button{
	font-size: 3vh;
	margin-right: 1.5vh;
}

/*----------------------------- main -----------------------------*/

main{
	width: 100%;
	height: calc(100% - 7vh);
	font-family: 'Nunito', sans-serif;
	overflow-y: scroll;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.main__item{
	margin: 20px;
	border: 1px solid var(--white-theme-border);
	border-radius: 6px;
}

.main__day-name{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white-theme-subtitle);
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid var(--white-theme-border);
}

.main__day-name h2{
	font-size: 3vh;
	margin: 1vh 0;
}


@media (max-width: 1024px){
	main{
		grid-template: repeat(3, 50%) / repeat(2, 1fr);
		height: calc(150% - 7vh);
	}
}

@media (max-width: 666px){
	main{
		grid-template: repeat(5, 50%) / repeat(1, 1fr);
		height: calc(250% - 7vh);
	}
}